<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="mailSettings">
      <section name="smtpGmail" type="System.Net.Configuration.SmtpSection"/>
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <mailSettings>
    <smtpGmail deliveryMethod="Network">
      <network enableSsl="true" defaultCredentials="false" clientDomain="www.gmail.com" host="smtp.gmail.com" port="587"/>
    </smtpGmail>
  </mailSettings>
</configuration>